<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:replace="fragment/js::js"></div>

<body class="layui-card-body layui-card">
<!--分页组件-->
<div style="padding: 10px;" class="layui-card">
    <form id="queryForm" class="layui-form" method="post"
          style="display: flex;align-items: center">
        <div class="layui-hide-xs" style="display: flex;align-items: center">
            <span style="width: fit-content">用户昵称:</span>
            <input class="layui-input" name="nickName" id="nickName"
                   style="width: 120px;"/>
        </div>
        <div class="layui-hide-xs" style="display: flex;align-items: center;margin-left: 20px">
            <label style="width:  fit-content">真实姓名:</label><input class="layui-input" name="realName" id="realName"
                                                                   style="width: 120px"/>
        </div>
        <div style="display: flex;align-items: center;margin-left: 20px">
            <label style="width:  fit-content">手机号:</label><input class="layui-input" name="phone" id="phone"
                                                                  style="width: 120px"/>
        </div>

        <div style="display: flex;align-items: center;margin-left: 20px">
            <button type="button" class="layui-btn" id="queryBtn" lay-submit lay-filter="queryForm">查询</button>
        </div>
    </form>
    <table id="userTable" lay-filter="userTableFilter"></table>
    <!--        <div th:include="plugins/splitBar::splitBar"></div>-->
</div>
<!--查看这个角色的权限的弹框-->
<script type="text/html" id="showPermissionDiv">
    <div style="padding: 20px">
        <div style="display: flex;flex-wrap: wrap">
            <div th:each="r,rStat:${systemRoles}" class="layui-form"
                 style="border: solid lightgray 1px;border-radius: 5px;padding: 10px;width: fit-content;margin: 5px">
                <input type="checkbox" name="roleTitle" lay-skin="primary" lay-filter="roleTitle"
                       th:id="'roleId-'+${r.flag}" th:ind="'role-'+${rStat.index}"><span
                    style="font-size: 14px;font-weight: bold;cursor: pointer" th:text="${r.name}">角色名称</span>
                <div style="padding-left: 20px">
                    <div th:each="p:${r.permissionVOS}" style="padding: 3px">
                        <input type="checkbox" lay-filter="permissionTitle" th:title="${p.name}"
                               th:name="'roleName-'+${r.flag}" th:pid="${p.permissionId}"
                               th:id="'permissionId-'+${p.flag}" lay-skin="primary">
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center">
            <button class="layui-btn layui-btn-danger" id="sureDispatch">确认调整</button>
            <button class="layui-btn warning" id="cancelDispatch">取消</button>
        </div>
    </div>
</script>

<script th:inline="javascript" type="text/javascript">
    $(function () {
        let systemRoles = [[${systemRoles}]];
        layui.use(['layer', 'laydate', 'table', 'form'], function () {
            let layer = layui.layer;// 弹出层
            let laydate = layui.laydate;// 日期组件
            let table = layui.table;
            let form = layui.form;

            //第一个实例
            let tb = table.render({// 渲染表格
                elem: '#userTable'
                , url: '/pages/back/user/ajaxUserList' //服务后台的数据接口
                , page: true //开启分页
                , cols: [[ //表头，这里是两个[[开头，两个]]结尾
                    {field: '', type: 'checkbox', title: '多选'}
                    , {field: 'userId', title: '用户ID', width: 80, sort: true}
                    , {field: 'nickName', title: '昵称', width: 200}
                    , {field: 'reaName', title: '真实名字', width: 160, sort: true}
                    , {
                        field: '', title: '用户头像', width: 100, templet: function (d) {
                            return '<div ><img showBig style="width: 50px;height: 50px;border-radius: 5px" src="' + d.photo + '"></div>'
                        }
                    }
                    , {field: 'phone', title: '电话', width: 180}
                    , {field: 'email', title: '邮箱', width: 120}
                    , {field: 'note', title: '备注', width: 140,edit:'text'}
                    , {
                        field: '', title: '操作', templet: function (d) {// 这个d指的是本行的数据 js对象
                            // console.log(d)
                            return '<div>\n' +
                                '            <button class="layui-btn layui-btn-xs layui-btn-warm" lay-event="showPermissions">调整权限</button>\n' +
                                '            <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="lock">锁定</button>\n' +
                                '            <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="deleteData">删除</button>\n' + ' </div>'

                        }
                    }
                ]]
                , toolbar: 'default'
                , done() {
                    showBigImg();
                }
            });

            table.on('toolbar(userTableFilter)', function (obj) {
                // console.log(obj);
                // var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        layer.msg('添加');

                        layer.open({// 弹框之后，如遇到select标签，radio,checkbox之类，需要使用表单渲染
                            title: "用户添加",
                            content: $("#addForm").html()
                        });
                        form.render();

                        form.on('select(addForm)', function (data) {// 监听表单的下拉选择.注意，你监听这个函数的时候，一定是要在表单渲染之后
                            console.log(data.elem); //得到select原始DOM对象
                            console.log(data.value); //得到被选中的值
                            console.log(data.othis); //得到美化后的DOM对象
                        });
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                }
                ;
            });

            table.on('edit(userTableFilter)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                console.log(obj.value); //得到修改后的值
                console.log(obj.field); //当前编辑的字段名
                console.log(obj.data); //所在行的所有相关数据
                let p ={}
                p.userId =obj.data.userId;
                p[obj.field]=obj.value;
                $.post('/pages/back/user/edit', p, function (res) {
                        layer.msg(res.msg);
                    }
                );

            });

            //监听行中工具栏事件
            table.on('tool(userTableFilter)', function (obj) {
               let d = obj.data;
                switch (obj.event) {
                    case 'showPermissions':
                        $.post('/pages/back/user/getUserRoles/' + d.phone, {}, function (res) {
                            let editRoleOpen = layer.open({
                                type: 1,
                                area: ['98%', '90%'],
                                title: '调整用户权限',
                                content: $('#showPermissionDiv').html() //这里content是一个普通的String
                            });
                        layer.msg('添加');

                        layer.open({// 弹框之后，如遇到select标签，radio,checkbox之类，需要使用表单渲染
                            title: "用户添加",
                            content: $("#addForm").html()
                        });
                        form.render();

                        form.on('select(addForm)', function (data) {// 监听表单的下拉选择.注意，你监听这个函数的时候，一定是要在表单渲染之后
                            console.log(data.elem); //得到select原始DOM对象
                            console.log(data.value); //得到被选中的值
                            console.log(data.othis); //得到美化后的DOM对象
                        });
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        layer.msg('编辑');
                        break;
                }
                ;
            });

        });

    })

    function onInput(jObj) {
        jObj.on({
            'input': function () {

                $("#queryBtn").click();// 这里直接换成查询按钮点击事件
            }
        })
    }
</script>
</body>
</html>
