<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div style="font-size: 20px;font-weight: bold;text-align: center">商品信息</div>
<div th:replace="fragment/js::js"></div>
<div th:replace="fragment/map::map"></div>

<script type="text/javascript" th:src="@{/qc/cityPiker/cityPiker.js}"></script>
<script type="text/javascript" th:src="@{/qc/upload/upload.js}"></script>
<script type="text/javascript" th:src="@{/wangedit/wangEditor.js}"></script>
<style>
    /*修改layui表格的高度*/
    .layui-table-cell {
        height: auto;
    }
</style>
<body class="layui-card-body layui-card">
<!--分页组件-->
<div>
    <div>
        <form class="layui-form" id="addGoodsForm" lay-filter="addGoodsForm">
            <input type="hidden" name="goodsId" th:value="${goods.goodsId}">
            <div style="display: flex">
                <div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品类型</label>
                        <div class="layui-input-block">
                            <select name="goodsTypeId" class="layui-select" lay-verify="required">
                                <option th:each="t:${goodsTypes}"

                                        th:selected="${t.goodsTypeId==goods.goodsTypeId?true:false}"

                                        th:value="${t.goodsTypeId}"
                                        th:text="${t.typeName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" th:value="${goods.title}" id="goodsTitle" placeholder="请输入商品名称"
                                   required lay-verify="required"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品副标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="subTitle" th:value="${goods.subTitle}" placeholder="请输入商品副标题"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="sort" th:value="${goods.sort}" placeholder="请输入排序编号"
                                   oninput="value=value.replace(/[^\d]/g,'')" value="1"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品原价</label>
                        <div class="layui-input-block">
                            <input type="text" name="oldPrice" th:value="${goods.oldPrice}" placeholder="请输入商品原价" required
                                   lay-verify="required|number"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品现价</label>
                        <div class="layui-input-block">
                            <input type="text" name="nowPrice" th:value="${goods.nowPrice}" placeholder="请输入商品现价" required
                                   lay-verify="required|number"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">包装费</label>
                        <div class="layui-input-block">
                            <input type="text" name="packagingFee" th:value="${goods.packagingFee}" placeholder="请输入包装费"
                                   required
                                   lay-verify="required|number" value="0"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品重量</label>
                        <div class="layui-input-block">
                            <input type="text" name="weight" th:value="${goods.weight}" placeholder="请输入商品重量" required
                                   lay-verify="required|number" value="0.1"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品口味</label>
                        <div class="layui-input-block">
                            <input type="text" name="taste" th:value="${goods.taste}" placeholder="请输入商品口味"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品主图</label>
                        <div class="layui-input-block">
                            <div lh-upload id="pic" th:value="${goods.pic}"></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">库存</label>
                        <div class="layui-input-block">
                            <input type="text" name="stock" th:value="${goods.stock}" placeholder="请输入商品库存" value="1000"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 20px;flex: 1;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否在售</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="onSale" th:checked="${goods.onSale}" value="1" checked
                                   lay-skin="switch" lay-text="在售|停售">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">能否外卖</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="takeaway" th:checked="${goods.takeaway}" value="1" checked
                                   lay-skin="switch" lay-text="能够|不能">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">团购商品</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="isCoupon" th:checked="${goods.isCoupon}" value="1"
                                   lay-skin="switch" lay-text="团购|外卖">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品轮播图</label>
                        <div>
                            <div lh-upload id="imgs" th:value="${goods.imgs}"></div>
                        </div>
                    </div>

                    <div>
                        <label>商品详情</label>
                    </div>
                    <div id="wangEdit" style="width: 80%" th:utext="${goods.detail}">
                    </div>
                    <div style="padding: 10px 0">
                        <button class="layui-btn " lay-submit lay-filter="editGoodsForm">确认修改</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button type="button" onclick="window.history.go(-1)" class="layui-btn layui-btn-danger">取消
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">

    $(function () {
        // 富文本
        var E = window.wangEditor;
        var editor = new E('#wangEdit');

        // 使用路径传参
        editor.customConfig.uploadImgParamsWithUrl = true;
        // 配置服务器端地址
        editor.customConfig.uploadImgServer = '/pages/back/upload/wangEditorUploadFiles';
        editor.create();

        layui.use(['layer', 'table', 'form'], function () {
            // let validateArr = ['doorImg'];
            let layer = layui.layer;
            let form = layui.form;

            uploadFile({
                dir: 'goods',// 将这些图片保存到商品文件夹
            });// 一定要

            form.on('submit(editGoodsForm)', function (data) {
                console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

                data.field.detail = editor.txt.html();
                if (data.field.pic == undefined) {
                    layer.msg("主图还是需要上传的")
                    return false;
                }
                console.log(1)
                $.post('/pages/back/goods/edit/',data.field,function (res) {
                    console.log(res);
                    layer.msg(res.msg);
                });
                console.log(2)
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });


        });


    })



</script>
</body>
</html>
